/* 
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
donker groen: #44955c;
licht groen: #46ad65;
oranje/rood: #c46952;
bruin: #c79f54;
geel: #bec957;

LETTTERTYPE
font-family: shackleton, serif;
font-family: acumin-pro-semi-condensed, sans-serif; 
*/


html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}  

html {
    background:#c79f54;
    font-family: 'acumin-pro-semi-condensed', sans-serif;
}

/* Top navigatie menu aan de hand van wireframe hieronder ---------------------------------------- */

header {
    background-color: #c79f54;
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color:  #46ad65;
    border-radius: 20px;
}

li {
    float: left;
    
}

li a {
    display: block;
    padding: 20px;
    background-color: #46ad65;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

li a:hover {
    background-color: #c46952;
}

.active {
    background-color: #c46952;
}

li {
    border-right: 2px solid #bbbbbb;
}

li:first-child {
    border-right: none;
}
/* logo met achtergrond verhuur/overons --------------------------------------------------------- */

.logo12 {
    align-content: center;
    margin-left: -1px;
    margin: 5px;
}

.logo12 img {
    width: 100%;
    height: auto;
}



/* main text page --------------------------------------------------------------------------- */

#content_wrap1 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-column-gap: 20px;
    background-color:  #46ad65;
    margin: 5px;

}

/* Verhuurtabel ----------------------------------------------------------------------------- */

.titleverhuur {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
 
#verhuur_tabel, form {
    background-color:  #46ad65;
    margin: 5px;
    text-align: center;
}

input {
    border-radius: 5px;
    background-color:  #c46952;
}

.submit {
    padding: 12px;
    margin: 20px;
    font-weight: 700;

}
/* welkom teksten over ons pagina ----------------------------------------------------------------*/


.content-wrap1 {
    text-align: center;
    font-weight: 700;
    font-size: 150%;
}


/* welkom foto's over ons pagina----------------------------------------------------------- */

.overons_fotos {
  display: grid;  
  grid-template-columns: auto auto;
  justify-content: center;  
}

.overons_fotos, figcaption {
  font-weight: bold;
  

}

/* FOOTER ------------------------------------------------------------ */

.footer {
    background: #46ad65;
    height: 400px;
    margin: 5px;
}

footer .footer-section-icons {
    text-align: center;
    margin-top: -90px;
}

footer .footer-section-icons i {
    padding: 10px 30px 10px 30px;

}

footer .footer-bottom {
    text-align: center;
    font-weight: 700;
}

footer .footer-section-links {
    display: grid;
    grid-row-gap: 40px;
    text-align: right;
    padding: 30px;

}

footer .footer-section-links a:link {
    text-decoration: none;
}
