
/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
donker groen: #44955c;
licht groen: #46ad65;
oranje/rood: #c46952;
bruin: #c79f54;
geel: #bec957;

LETTTERTYPE
font-family: shackleton, serif;
font-family: acumin-pro-semi-condensed, sans-serif; 

*/

html{
    background:#c79f54;
    font-family: acumin-pro-semi-condensed, sans-serif; 
}

header {
    text-align: center;
    background: #c79f54;
    font-size: 30px;
    line-height: 1.5;
    /*font-family: shackleton, serif; */
    font-weight: 400;
    height: 250px;

}
h1, h3 {
    font-family: shackleton, serif;
}

.stop1 a {
    text-decoration: none;
    color: black;
    background: #44955c;
    padding: 8px;
    border-radius: 2px;
    margin: 15px 25px; 
}
.spacing1 {
    margin: 3%;
}
/*----------------------------------------extra Services-----------------------------------------*/


#top-story{
    background-color:#44955c ;

    
}
#doorverwijzing{
    background-color: #c46952;

}
#top-story ~ h1 {
    margin-top: 30px;
}

/*------------------------------Contact Pagina---------------------------------------------------*/

