/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
donker groen: #44955c;
licht groen: #46ad65;
oranje/rood: #c46952;
bruin: #c79f54;
geel: #bec957;
*/


html{
    background:#c79f54;
    font-family:'shackleton', serif;
}

header {
    text-align: center;
    background: #c79f54;
    font-size: 30px;
    line-height: 1.5;
    font-family: 'acumin-pro-semi-condensed', sans-serif;
    font-weight: 400;
    height: 250px;
}

.spacing1 {
    margin: 3%;
}

.page-logo img, .page-title {
    margin: 0px 120px;
    display: inline;
    vertical-align: middle;
}

.page-title {    
}

.stop1 a {
    text-decoration: none;
    color: black;
    background: #44955c;
    padding: 8px;
    border-radius: 10px;
    margin: 15px 25px; 
}

.main-bike img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 30px 0px 0px 0px;
}

body {
    background: #46ad65;
}

main {
    background: #c79f54;
    text-align: center;
}

h2 {
    font-family: 'Caveat', cursive;
    font-weight: 500;
    font-size: 50px;
    margin: 30px 0px 0px 0px;
}

h3 {
    font-family: 'Caveat', cursive;
    font-weight: 200;
    font-size: 30px;
    margin: 0px;
}






