/* 
kleuren pallet 
donker groen: #44955c;
licht groen: #46ad65;
oranje/rood: #c46952;
bruin: #c79f54;
geel: #bec957;
*/

/* Navigatie menu bovenkant pagina plus background
-------------------------------------------------------------------------*/

html{
    background:#c79f54;
    font-family: 'Montserrat', sans-serif;
}

header {
    text-align: center;
    background: #c79f54;
    font-size: 30px;
    line-height: 1.5;
    font-family: 'Caveat', sans-serif, cursive;
    font-weight: 400;
    height: 250px;
}

body {
    background-color:#46ad65;
    margin: 0%;
}

#logo1 {
    margin: 3%;
}

#btntop a {
    text-decoration: none;
    color: black;
    background: #44955c;
    padding: 8px;
    border-radius: 2px;
    margin: 15px 25px; 
}

/* Over ons pagina teksten 
-------------------------------------------------------------------------*/
#content-wrap {
    text-align: center;
    font-family: 'Caveat', sans-serif, cursive;
    font-size: larger;
}

.beschrijving-tekst {
    text-align: center;
    font-family: 'Caveat', sans-serif, cursive;
}




/* Voor de gehele html pagina 
-------------------------------------------------------------------------*/





/* Voor de gehele html pagina 
-------------------------------------------------------------------------*/





/* Voor de gehele html pagina 
-------------------------------------------------------------------------*/