/* 
kleuren pallet 
donker groen: #44955c;
licht groen: #46ad65;
oranje/rood: #c46952;
bruin: #c79f54;
geel: #bec957;
*/

/* gehele pagina ----------------------------------------------------------- */
html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}  

html {
    background:#c79f54;
    font-family: 'acumin-pro-semi-condensed', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background: #c79f54;
    font-size: 25px;
    line-height: 1.5;
    font-family: 'shackleton', serif;
    font-weight: 700; 
    height: 250px;
}

/* Content op pagina's -------------------------------------------------------  */

body {
    background-color:#46ad65;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

footer {
    text-align: center;
    background: #c79f54;
    font-size: 25px;
    line-height: 4;
    font-family: 'shackleton', serif;
    font-weight: 700; 
    height: 250px;
}


#logo1 {
    margin: 3%;
}

/* navigate top pagina --------------------------------------------------------  */

.btntop a {
    text-decoration: none;
    color: black;
    background: #44955c;
    padding: 8px;
    border-radius: 8px;
    /* margin: 10px 20px;   */
}

/* Hoofd tekst style pagina overons/verhuur
-------------------------------------------------------------------------*/
#content-wrap {
    text-align: center;
    font-family: 'acumin-pro-semi-condensed', sans-serif;
    font-size: larger;
}

.welkom_fotos {
    text-align: center;
    font-family: 'acumin-pro-semi-condensed', sans-serif;
    border-width: 10px;
    font-size: large;
}




/* Overons foto alignments + introductie
-------------------------------------------------------------------------*/





/* verhuur pagina huurgegevens tabellen
-------------------------------------------------------------------------*/





/* footer pagina
-------------------------------------------------------------------------*/

