html{
    background:#c79f54;
    font-family: 'Montserrat', sans-serif;
}

header {
    text-align: center;
    background: #c79f54;
    font-size: 30px;
    line-height: 1.5;
    font-family: 'Caveat', cursive;
    font-weight: 400;
    height: 250px;
}
