/* 
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
donker groen: #44955c;
licht groen: #46ad65;
oranje/rood: #c46952;
bruin: #c79f54;
geel: #bec957;

LETTTERTYPE
font-family: shackleton, serif;
font-family: acumin-pro-semi-condensed, sans-serif; 
*/


html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}  

html {
    background:#c79f54;
    font-family: 'acumin-pro-semi-condensed', sans-serif;
}

/* Top navigatie menu aan de hand van wireframe hieronder AB ---------------------------------------- */

header {
    background-color: #c79f54;
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color:  #46ad65;
    border-radius: 20px;
    max-width: 2000px;
    width: 100%;

}

li {
    float: left;
    
}

li a {
    display: block;
    padding: 20px;
    background-color: #46ad65;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

li a:hover {
    background-color: #c46952;
}

.active {
    background-color: #c46952;
}

li {
    border-right: 2px solid #bbbbbb;
}




/* logo met achtergrond footer Ab--------------------------------------------------------- */

.logo12 {
    align-content: center;
    margin-left: -1px;
    margin: 5px;
}

.logo12 img {
    width: 100%;
    height: auto;
}

/* ------------------------------------------Indexpagina-----------------------------DIAA---------------- */

.spacing1 {
    margin: 0px 0px 10px 0px;
}

.page-logo img, .page-title {
    margin: 0px 80px;
    display: inline;
    vertical-align: middle;
}

.page-title {   
     font-family: 'Caveat', cursive;   
    font-weight: 600;
    font-size: 80px;
}

.stop1 a {
    text-decoration: none;
    color: black;
    background: #44955c;
    padding: 8px;
    border-radius: 10px;
    margin: 15px 25px; 
}

.di1 {
    margin: 20px 0px 20px 0px;
    padding: 30px 0px 30px 0px;
    background: #46ad65;
}

.main-bike {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.Introductiehomepagina {
    background: #c79f54;
    text-align: center;
    margin: 0px 0px 0px 0px;
}


.trip-text {
    background: #c79f54;
    display: flex;
    height: 100px;
    text-align: center;
    margin: 160px 0px 0px 0px;
}

.trip-text p {
    width: 33%;
    background: #e9f8f8;
    padding: 30px;
    border-radius: 10px;
    margin: 0px 15px; 
}

.trip-images {
    display: flex;
    padding: 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.trip-images img {
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}


/* main text verhuur pagina wrap--------------------------------------------------------------------------- */

#content_wrap1 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-column-gap: 20px;
    background-color:  #46ad65;
    margin: 5px;

}

/* Verhuurtabel verhuur pagina----------------------------------------------------------------------------- */

.titleverhuur {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
 
#verhuur_tabel {
    background-color:  #46ad65;
    margin: 5px;
    text-align: center;
}

input {
    border-radius: 5px;
    background-color:  #c46952;
}

.submit {
    padding: 12px;
    margin: 20px;
    font-weight: 700;

}

.tabel-lay-out {
    font-weight: 700;
    font-size: large;
} 





/* over ons pagina ----------------------------------------------------------------*/


.content-wrap1 {
    text-align: center;
    font-weight: 700;
    font-size: 150%;
}


.overons_fotos {
  display: grid;  
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;  
}

.overons_fotos, figcaption {
  font-weight: bold;
}

/* ---------------------------Fiets Reizen---------------------TARIK--------- */

.uitleg  {
    text-align: center;
    
}

/* --------------------------------Extra Services en Contact-------------RENEE------------ */
.title-extra{
    text-align: center;
}
.main-text {
    text-align: center;
}



.nav-buttons a {
    
    text-decoration: none;
    color: black;
    background: #c79f54;
    padding: 8px;
    border-radius: 10px;
    margin: 15px 25px; 
    margin-top: 30%;
}
.button {
    background-color:#46ad65 ;
}
.wrapper{
    background-color:#c46952 ;
    padding: 30px;
}
.block-service{
    text-align: center;
    margin: 2%;
    align-content: center;
    padding-bottom: 20px;
    border: solid 10px #c79f54;
}
#doorverwijzing{
    background-color: #c46952;
    display: inline-flex;
    flex-basis: 33%;
    
}

/*------------------------------Contact Pagina---------------------------------------------------*/
.contact-box{
    display: flex;
    flex-basis: auto;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;

}
.space{
    margin-top: 100px;
    
}


 .contact{
    display: inline-block;
    box-sizing: border-box;
}
.locatie{
    background-image: url("images\contact-map.png");
}

/*------------------------------vijf Acccesoires-----------------TARIK----------------------------------*/



/*------------------------------ Fietsen-------------AB --------------------------------------*/



/*-----------------------------vijf Klanten---------------------FILI------------------------------*/




/*------------------------------vijf Medewerkers-----------------RENEE----------------------------------*/

.Medewerkers-hoofd{

}
.medewerker-titel{
    text-align: center;
}

.medewerker-sub{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 1em;
    margin-top: 8%;
    margin-bottom: 8%;
    
    
}
.block-medewerker1{
    grid-column: 1/3;
    grid-row: 1/2;
   padding: 12px;
    border:solid 10px #46ad65;
    

}
.block-medewerker2{
    grid-column: 3/6;
    grid-row: 1/2;
   padding: 12px;
    border:solid 10px #46ad65;
    

}
.block-medewerker3{
    grid-column: 2/5;
    grid-row: 2/4;
   padding: 12px;
    border:solid 10px #46ad65;
    
    

}
.medewerker-inputbalk{
    margin: 5px;
    
}

#medewerker-formulier {
    text-align: left;
    background-color: #c79f54;
}

#knop-medewerker {
    padding: 8px;
    margin: 8px;
}

/*------------------------------Inlog Pagina-----------------RENEE----------------------------------*/
.inlog-main{
    display: grid;
    grid-template-columns: 4, 1fr;
    grid-template-rows: 5,1fr;
    grid-template-areas: 
        "login login login login"
        ". form form . "
        ". form form . "
        ". form form knopk"
        ". form form knopm";
    margin-bottom: 2%;
}
.inlog-ruimte{
    
}
.inlog-titel{
    text-align: center;
    grid-area: login;
}

.inlog-venster{
    text-align: center;
    grid-area: form;
    

    
  
}
.inlog-gegevens{
    margin-bottom: 6%;
}


.inlog-naam{
    cursor: pointer;
    
}
.inlog-paswoord{
    cursor: pointer;
}

.inlog-knoppen{

}
.inlog-knop1{
    grid-area: knopm;
}
.inlog-knop2{
    grid-area: knopk;
}


input[type=text]:hover{
    border-color:#46ad65 ;
    border-width: 1px;
}
input[type=text]:focus{
    border: 1px solid #46ad65;
}
input[type=password]:hover{
    border-color:#46ad65 ;
    border-width: 1px;
}
input[type=password]:focus{
    border: 1px solid #46ad65;
}








.acceskey{
    text-decoration: underline;
}


/* toonfietsen opties na verhuurformulier ------------------------------------------------ */

.titleoptiesfiets {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}


.toon-fietsen {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: center;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}

.submit123 {
    display: inline;
    align-content: center;
    padding: 12px;
    margin: 20px;
    font-weight: 700;

}

/* FOOTER --------------------------------------------------- */

footer .footer {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    background: #46ad65;
    height: 600px;
    max-height: 100%;
    margin: 5px;

}

footer .footer-section-icons {
    display: flexbox;
    text-align: center;
    margin-top: -90px;
}

footer .footer-section-icons i {
    padding: 10px 30px 10px 30px;
    padding-top: 85px;

}

footer .footer-bottom {
    text-align: left;
    font-weight: 700;
}

footer .footer-section-links a:link {
    text-decoration: none;
}

footer .footermenu {
    text-align: center;
    font-size: x-large;
    font-weight: 700;
}

.footermenu {
    text-align: center;
}

footer, img {
    text-align: center;
}

/* experimenteel footeropties ----------------- */





/*-----------------------------------Responsive------------------------------------------------------------ */

@media screen (max-width: 700px) {
 .footermenu{
    align-items:right
}
.footer-section-icons{
    align-items: left;

}
